@font-face {
    font-family: "Bathilda";
    src: url(fonts/Bathilda.otf);
}

@font-face {
    font-family: "Glacial";
    src: url(fonts/GlacialIndifference-Regular.otf);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slide-down {
    0% {
        top: -80px;
    }
    100% {
        top: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0 none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FBFBF6;
    animation: fade-in 1s;
}

h1 {
    margin: 0 auto -50px auto;
    font-family: "Bathilda", serif;
    font-size: 108px;
    color: #C8DDF0;
    font-weight: 100;
}

h3 {
    font-weight: 100;
    margin: 20px auto 40px auto;
    font-family: "Glacial", serif;
    font-size: 28px;
    text-transform: lowercase;
    color: #B1C0C7;
}

p {
    width: 450px;
    text-align: center;
    margin: 0 auto;
    font-family: "Glacial", serif;
    font-size: 22px;
    color: #B1C0C7;
    margin-bottom: 20px;
}

img {
    height: auto;
    width: 120px;
    margin: 0 auto;
}

button {
    margin: 0 auto;
    width: 130px;
    height: 60px;
    border: 4px solid #B1C0C7;
    background-color: #E9F2DE;
    border-radius: 30px;
}

.welcome-subtitle {
    margin: 0 auto 15px auto;
    font-size: 24px;
}


/* nav bar */

.navbar {
    text-align: right;
    width: auto;
    height: 100px;
    background-color: #FBFBF6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation: slide-down 1s;
}

.right-nav {
    display: flex;
    flex-direction: row;
}

.left-nav {
    margin-left: 180px;
}

.logo {
    width: 44px;
    height: auto;
    margin: 40px 25px;
}

.nav-button {
    width: 44px;
    height: 44px;
    margin: 40px 25px;
}

#triangle.nav-hover {
    border-bottom-color: #bbccd4;
}

#circle.nav-hover,
#square.nav-hover {
    background-color: #bbccd4;
}

#circle.nav-click,
#square.nav-click {
    background-color: #b2c1c9;
}

#triangle.nav-click {
    border-bottom-color: #b2c1c9;
}

.nav-button.square {
    background-color: #C8DDF0;
}

.nav-button.circle {
    background-color: #F3E1A1;
    border-radius: 50%;
}

.nav-button.triangle {
    width: 0;
    height: 0;
    border-bottom: 44px solid #C4DBA3;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    background-color: transparent;
    margin-right: 100px;
}


/* welcome page */

.welcome-pg {
    display: flex;
    flex-direction: column;
    margin: 220px 0 120px 0;
}


/* all pages */

.about-me-pg,
.projects-pg,
.art-pg {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.projects-display,
.art-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* projects page */

.project {
    width: 300px;
    height: 300px;
    background-color: #F9F0CC;
    border: 4px solid #B1C0C7;
    border-radius: 40px;
    box-shadow: 0 20px #EDEDE8;
    font-family: "Glacial", serif;
    font-size: 22px;
    color: #B1C0C7;
    text-align: center;
}

.project-img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin: 10px;
    border-radius: 30px;
    filter: opacity(60%);
}

.project.right,
.project.left,
.project.middle {
    margin: 15px;
}

.project-info {
    padding-top: 40px;
    width: 300px;
    height: 100px;
    background-color: #FBFBF6;
    border: 4px solid #B1C0C7;
    border-radius: 40px;
    display: block;
    position: relative;
    bottom: 150px;
    right: 4px;
    animation: fade-in 0.5s;
}


/* art page */

.art {
    width: 250px;
    height: 250px;
    background-color: #E9F2DE;
    border: 4px solid #B1C0C7;
    border-radius: 40px;
    box-shadow: 0 20px #EDEDE8;
    margin: 0 10px 80px 10px;
    font-family: "Glacial", serif;
    font-size: 22px;
    color: #B1C0C7;
    text-align: center;
}

.art-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin: 10px;
    border-radius: 30px;
    filter: opacity(30%);
}

.art-info {
    padding-top: 30px;
    width: 250px;
    height: 90px;
    background-color: #FBFBF6;
    border: 4px solid #B1C0C7;
    border-radius: 40px;
    display: block;
    position: relative;
    bottom: 128px;
    right: 4px;
    animation: fade-in 0.5s;
}

.art.left {
    margin-left: auto;
}

.art.right {
    margin-right: auto;
}


/* more button */

.more {
    font-family: "Glacial", serif;
    font-size: 24px;
    text-transform: lowercase;
    color: #B1C0C7;
    margin: auto;
}

.hover {
    background-color: #d8e0cd;
}

.click {
    background-color: #d8e0cd;
}


/* contact page */

.contact-pg {
    margin: 80px auto;
    text-align: center;
    width: 90%;
    height: 200px;
    border: 4px solid #B1C0C7;
    background-color: #E4EFF8;
    border-radius: 50px;
}

.contact-pg h3 {
    font-size: 24px;
}

.contact-me-header {
    margin: 50px auto -10px auto;
}

.footer {
    margin: 30px auto;
}