@font-face {
    font-family: "Bathilda";
    src: url(fonts/Bathilda.otf);
}

@font-face {
    font-family: "Glacial";
    src: url(fonts/GlacialIndifference-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0 none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FBFBF6;
}

h1 {
    margin: 0 auto -50px auto;
    font-family: "Bathilda", serif;
    font-size: 108px;
    color: #C8DDF0;
    font-weight: 100;
}

h3 {
    font-weight: 100;
    margin: 20px auto 40px auto;
    font-family: "Glacial", serif;
    font-size: 28px;
    text-transform: lowercase;
    color: #B1C0C7;
}

p {
    width: 450px;
    text-align: center;
    margin: 0 auto;
    font-family: "Glacial", serif;
    font-size: 22px;
    color: #B1C0C7;
    margin-bottom: 20px;
}

img {
    height: auto;
    width: 120px;
    margin: 0 auto;
}

button {
    margin: 0 auto;
    width: 130px;
    height: 60px;
    border: 4px solid #B1C0C7;
    background-color: #E9F2DE;
    border-radius: 30px;
}

.welcome-subtitle {
    margin: 0 auto 15px auto;
    font-size: 24px;
}

.navbar {
    text-align: right;
}

.welcome-pg {
    display: flex;
    flex-direction: column;
    margin: 150px 0;
}

.about-me-pg,
.projects-pg,
.art-pg {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.projects-display,
.art-display {
    display: flex;
    flex-direction: row;
}

.project {
    width: 300px;
    height: 300px;
    background-color: #F9F0CC;
    border: 4px solid #B1C0C7;
    border-radius: 40px;
    box-shadow: 0 20px #EDEDE8;
}

.art {
    width: 250px;
    height: 250px;
    background-color: #E9F2DE;
    border: 4px solid #B1C0C7;
    border-radius: 40px;
    box-shadow: 0 20px #EDEDE8;
    margin: 0 10px 80px 10px;
}

.project.right {
    margin: 0 auto 0 15px;
}

.project.left {
    margin: 0 15px 0 auto;
}

.art.left {
    margin-left: auto;
}

.art.right {
    margin-right: auto;
}

.more {
    font-family: "Glacial", serif;
    font-size: 24px;
    text-transform: lowercase;
    color: #B1C0C7;
}

.contact-pg {
    margin: 80px auto;
    text-align: center;
    width: 90%;
    height: 200px;
    border: 4px solid #B1C0C7;
    background-color: #E4EFF8;
    border-radius: 50px;
}

.contact-pg h3 {
    font-size: 24px;
}

.contact-me-header {
    margin: 50px auto -10px auto;
}

.footer {
    margin: 30px auto;
}